@import "../../../assets/scss/fonts";
@import "../../../assets/scss/variables";
@import "../../../assets/scss/utilities";
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $color-grey-light2;
  &__item {
    overflow: hidden;

  }
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


