@import "../../../assets/scss/fonts";
@import "../../../assets/scss/variables";
@import "../../../assets/scss/utilities";
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $color-black;
  &__item {
    overflow: hidden;
    @include respond(phone-M) {
      flex: 0 1 100%;
    }
    @include respond(phone-L) {
      flex: 1 0 50%;
    }
    @include respond(tablet) {
      flex: 1 0 50%;
    }
    @include respond(desktop) {
      flex: 1 0 50%;
    }
    @include respond(desktopL) {
      flex: 1 0 33.33%;
    }

  }
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


