@import "../../../assets/scss/fonts";
@import "../../../assets/scss/variables";
@import "../../../assets/scss/utilities";


// HEADER COMPONENT
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-primary;
  color: $color-white;
  height: 10vh;
  &__back {
    min-width: 7.5rem;
    @include respond(tablet) {
      min-width: 9.5rem;
    }
    @include respond(desktop) {
      min-width: 9.5rem;
    }
  }

  @include respond(tablet) {
    height: 14vh;
  }
  @include respond(desktop) {
    height: 16vh;
  }
}
.title {
  &__icon {
    height: 2.50rem;
    margin: 0 2rem;
    font-size: 1.7rem;
    cursor: pointer;
    @include respond(tablet) {
      margin: 0 3rem;
      font-size: 2.4rem;
      height: 4.2rem;
    }
    @include respond(desktop) {
      font-size: 3rem;
      height: 5rem;
    }
  }
  &__text {
    font-size: 1.7rem;
    @include respond(tablet) {
      font-size: 2.4rem;
    }
    @include respond(desktop) {
      font-size: 3rem;
    }
  }
}

